streamlit
langchain_core
langchain_community
dotenv
pymupdf
langchain_text_splitters
langchain_google_genai
sentence_transformers
# chromadb
requests
chromadb>=0.5.3
protobuf
google-generativeai
streamlit